<main>
  <div>
    <h1>FORMULARIO EN EJS</h1>
    <br />
  </div>
  <form action="/api/products" method="POST">
    <input type="text" name="name" placeholder="Nombre del producto" />
    <br /><br />
    <input type="number" name="price" placeholder="Precio del producto" />
    <br /><br />
    <input type="text" name="name" placeholder="Origen del producto" />
    <br /><br />
    <button>ENVIAR</button>
  </form>
</main>
